/*=========================================
        GLOBAL STYLES
=========================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#eef2f7;

    color:#212529;

    line-height:1.5;

}

/*=========================================
        CONTAINER
=========================================*/

.container{

    width:90%;

    max-width:1300px;

    margin:auto;

    padding:30px 15px;

}

/*=========================================
        HEADINGS
=========================================*/

h1,
h2,
h3,
h4,
h5,
h6{

    font-weight:bold;

    color:#212529;

}

p{

    color:#6c757d;

}

/*=========================================
        LABELS
=========================================*/

label{

    display:block;

    margin-bottom:8px;

    margin-top:15px;

    font-weight:600;

}

/*=========================================
        INPUTS
=========================================*/

input,
select{

    width:100%;

    padding:12px 15px;

    border:1px solid #ced4da;

    border-radius:10px;

    font-size:15px;

    transition:.3s;

}

input:focus,
select:focus{

    outline:none;

    border-color:#0d6efd;

    box-shadow:0 0 8px rgba(13,110,253,.20);

}

/*=========================================
        BUTTONS
=========================================*/

button{

    cursor:pointer;

    transition:.3s;

}

button:hover{

    transform:translateY(-2px);

}

/*=========================================
        TABLE
=========================================*/

table{

    width:100%;

    border-collapse:collapse;

}

th{

    text-align:center;

}

td{

    text-align:center;

    vertical-align:middle;

}

/*=========================================
        LINKS
=========================================*/

a{

    text-decoration:none;

}

/*=========================================
        IMAGES
=========================================*/

img{

    max-width:100%;

    display:block;

}

/*=========================================
        SCROLLBAR
=========================================*/

::-webkit-scrollbar{

    width:9px;

}

::-webkit-scrollbar-thumb{

    background:#0d6efd;

    border-radius:20px;

}

::-webkit-scrollbar-track{

    background:#ececec;

}
